html
  head
    title= title
  body
    |  <div id="webchat" role="main"></div>
    |  <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    |  <script>
    |     window.WebChat.renderWebChat(
    |        {
    |           directLine: window.WebChat.createDirectLine({
    |              token: "!{token}"
    |           }),
    |           userID: "!{userId}",
    |           username: 'Web Chat User',
    |           locale: 'en-US',
    |           botAvatarInitials: 'WC',
    |           userAvatarInitials: 'WW'
    |        },
    |        document.getElementById('webchat')
    |     );
    |  </script>